body{
    background-color: grey;
}

p{
    color: yellow;
    font-size: 30px;
}

button{
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
    background-color: white;
}
.logo{
    border-radius: 120px;
  
    
}
.img-poster{
    width: 50px;
}

.try{
    width: 50px;
}
.comp{
    width: 50px;
}
.container{
    text-align: center;
}
